

Create new purchase order!
<br>
<br>
<form method="post" action="/purchase_order">
<label>Purchase Order :<input type="text" id="new_po_number" name="po_number"></label>
<label>Budget Target:<input type="text" id="new_po_authorized_amount" name="po_authorized_amount"></label>
<input type="submit" value="Create Purchase Order!">
</form>