

Edit Purchase Order
<br>
<br>
<form method="post" action="/purchase_orders/edit">
<input id="hidden" type="hidden" name="_method" value="patch">
<label>PO Number: <input type="text" id="edit_po_number" name="po[:po_number]" value="<%=@po.po_number%>"></label>
<br>
<label>PO Authorized Amount: <input type="text" id="edit_po_auth_amount" name="po[:po_number]" value="<%=@po.po_authorized_amount%>"></label>
<br>









</form>