
<a href="/budgets">Your Budgets</a>
<br>
<br>
<%@budget.name%> Budget Dashboard
<br>
<br>
<table>
    <tr>
        <th>PO Number</th>
        <th>PO Vendor</th>
        <th>PO Authorized Amount</th>
    </tr>
</table>