
<a href="/budgets">Your Budgets</a>
<br>
<br>
<%=@budget.name.capitalize%> Budget Dashboard
<br>
<br>
<table>
    <tr>
        <th>PO Number</th>
        <th>PO Vendor</th>
        <th>PO Authorized Amount</th>
        <th>PO Adjustments</th>
    </tr>
    <tr>
        <th><%=@budget.name.capitalize%> Target</th>
        <th></th>
        <th><%= format_number(@budget.target) %></th>
    </tr>
</table>