Edit Budget
<br>
<form method="post" action="/budgets/edit/<%=@budget.id%>">
<input id="hidden" type="hidden" name="_method" value="patch">
<label>Budget Name:<input id="edit_budget_name" type="text" name="budget[name]" value="<%=@budget.name.capitalize%>"></label>
<br>
<label>Budget Target:<input id="edit_budget_target" type="text" name="budget[target]" value=<%=@budget.target%>></label>
<br>
<input type="submit" name="Submit">
</form>