
<h2 id="yourbudgets">Your Budgets</h2>
<br>
<br>
<div id="budgetindex">
    <a class="budgetselect" href="/budgets/new">Add new budget +</a>
    <br>
    <br>
    <%if !current_user.budgets.empty?%>
        <%current_user.budgets.each do |b|%>
            <div id="budgeteach">
                <img src="/images/budget icon.jpg" alt="Budget Icon" class="budgeticon">
                <br>
                <a class="budgetselect" href="/budgets/<%=b.id%>">
                    <p id="budgettext"> <%="#{b.name.capitalize} budget"%></p>
                </a>
            </div>
        <%end%>
    <%else%>
        <br>
        <p id="nobudgets"><%="You have no budgets. Try making one!"%></p>
    <%end%>
</div>