
Your Budgets
<br>
<br>
<a href="/budgets/new">Add new budget +</a>
<br>
<%if !current_user.budgets.empty?%>
    <%current_user.budgets.each do |b|%>
    <br>
    <a href="/budgets/<%=b.id%>"><%="#{b.name.capitalize} budget"%></a>
    <br>
    <%end%>
<%else%>
    <br>
    <%="You have no budgets. Try making one!"%>
<%end%>