
Create your new budget!
<br>
<%if !!@errors%>
    <%if @errors.kind_of?(Array)%>
        <%@errors.each do |e|%>
        <br>
        <%=e.capitalize%>
        <%end%>
    <%else%>
        <%=@errors%>
    <%end%>
<%end%>
<br>
<form method="post" action="/budgets">
<label>Budget Name:<input type="text" id="name" name="name"></label>
<label>Budget Target:<input type="text" id="target" name="target"></label>
<input type="submit" value="Create My Budget!">
</form>