
<h2 id="newbudget">Create your new budget!</h2>
<br>
<div id="newbudget">
    <%if !!@errors%>
        <%@errors.each do |e|%>
        <br>
        <%=e.capitalize%>
        <br>
        <%end%>
    <%end%>
    <br>
    <form method="post" action="/budgets">
        <div id="newfields">
            <label>Budget Name: <input type="text" id="name" name="name"></label>
            <br>
            <br>
            <label>Budget Target: <input type="text" id="target" name="target"></label>
        </div>
        <br>
        <br>
        <input type="submit" value="Create My Budget!">
    </form>
</div>