
/* --- Layout Styles --- */

body {
    background-color: pink;
}

a.layoutnav:link, a.layoutnav:visited {
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Calibri Light";
  }
  
  a.layoutnav:hover, a.layoutnav:active {
    background-color: pink;
    color: white;
  }

  nav {
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }

/* --- Main Menu Page Styles --- */

  img#logo {
    width: 1200px;
    height: 400px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid black;
  }

  a.mmnav:link, a.mmnav:visited {
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Calibri Light";
  }
  
  a.mmnav:hover, a.mmnav:active {
    background-color: pink;
    color: white;
  }

  div#mmnav {
    text-align: center;
  }

  /* --- Sign Up Page Styles --- */

  h2#signup {
      text-align: center;
      font-family: "Calibri Light";
  }

  div#signup {
      text-align: center;
      font-family: "Calibri Light";
      border: 10px solid black;
      padding: 50px;
      width: 700px;
      height: 200px;
      margin: auto;
      background-color: white;
  }

  ul#signup {
      text-align: left;
  }

  div#signupinputs {
      display: inline-block;
      text-align: right;
  }

  /* --- Log in Page Styles --- */

  h2#login {
    text-align: center;
    font-family: "Calibri Light";
}

div#login {
    text-align: center;
    font-family: "Calibri Light";
    border: 10px solid black;
    padding: 50px;
    width: 700px;
    height: 150px;
    margin: auto;
    background-color: white;
}

div#loginfields {
    display: inline-block;
      text-align: right;
}

  /* --- Log in Page Styles --- */

  h2#profile {
    text-align: center;
    font-family: "Calibri Light";
}

img#profile {
    display: block;
    border-radius: 75%;
    height: 100px;
    position: absolute;
    left: 635px;
    top: 150px;
}

div#profile {
    text-align: center;
    font-family: "Calibri Light";
    border: 10px solid black;
    padding: 50px;
    width: 200px;
    height: 170px;
    margin: auto;
    background-color: white;
}

a#yourbudgets:link, a#yourbudgets:visited {
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Calibri Light";
  }
  
  a#yourbudgets:hover, a#yourbudgets:active {
    background-color: pink;
    color: white;
  }

  /* --- Budgets Index Styles --- */

  h2#yourbudgets {
    text-align: center;
    font-family: "Calibri Light";
    }
    div#budgetindex {
        margin: auto;
        text-align: center;
    }
    
    a.budgetselect:link, a.budgetselect:visited {
        background-color: white;
        color: black;
        border: 2px solid black;
        padding: 10px 20px;
        text-decoration: none;
        display: inline-block;
        font-family: "Calibri Light";
      }
      
    a.budgetselect:hover, a.budgetselect:active {
        background-color: pink;
        color: white;
      }
    
      div#budgeteach {
          float: left;
          margin: 50px;
          padding: 15px;
          align-items: center;
      }

      img.budgeticon {
        border: 5px solid black;
      }

      /* --- New Budget Styles --- */

      h2#newbudget {
        text-align: center;
        font-family: "Calibri Light";
    }

    div#newbudget {
        text-align: center;
        font-family: "Calibri Light";
        border: 10px solid black;
        padding: 50px;
        width: 700px;
        height: 150px;
        margin: auto;
        background-color: white;
    }
    
    div#newfields {
        display: inline-block;
        text-align: right;
    }