<h2>Welcome back! Please log in below:</h2>
<br>
<br>
<% if flash.has?(:message)%>
<%=flash[:message]%>
<%end%>
<br>
<br>
<form method="post" action="/user/login">
<label>Username: <input type="text" id="log_in_username" name="username"></label>
<label>Password: <input type="text" id="log_in_password" name="password"></label>
<input type="submit" value="Log in">
</form>