<h2 id="login">Welcome back! Please log in below:</h2>
<br>
<br>
<div id="login" >
    <%=flash[:message]%>
    <form method="post" action="/login">
        <div id="loginfields">
        <br>
            <label>Username: <input type="text" id="log_in_username" name="username"></label>
            <br>
            <br>
            <label>Password: <input type="text" id="log_in_password" name="password"></label>
            <br>
            <br>
        </div>
        <br>
        <input type="submit" value="Log in">
        <br>
    </form>
</div>