<br>
<h2>Sign up</h2>
<br>
<%if !!@errors%>
    <%if @errors.kind_of?(Array)%>
        <%@errors.each do |e|%>
        <br>
        <%=e.capitalize%>
        <br>
        <%end%>
    <%else%>
        <%=@errors%>
    <%end%>
<%end%>
<form method="post" action="/signup">
<label>Username: <input type="text" id="sign_up_username" name="username"></label>
<br>
<label>Password: <input type="text" id="sign_up_password" name="password"></label>
<br>
<br>
<input type="submit" value="Sign me up!">
</form>

<ul>
    <li> Username must be up to 8 characters. Not case sensitive.
    <li> Password must be up to 8 digits and contain at least one special character - ex. !*&^%$#`
</ul>