<h2 id="createpo">Create Vendor</h2>
<br>
<div id="signup">
    <%if !!@errors%>
        <%@errors.each do |e|%>
        <%=e.capitalize%>
        <br>
        <%end%>
    <%end%>
    <br>
    <form method="post" action="/vendors">
        <div id="signupinputs">
            <label>Vendor Name:<input type="text" id="name" name="name"></label>
            <input type="submit" value="Create Vendor">
        </div>
    </form>
</div>