Create Vendor
<br>
<%if !!@errors%>
    <%@errors.each do |e|%>
    <%=e.capitalize%>
    <br>
    <%end%>
<%end%>
<br>
<form method="post" action="/vendors">
<label>Vendor Name:<input type="text" id="name" name="name"></label>
<input type="submit" value="Create Vendor">
</form>