<!DOCTYPE html> 
<html>
    <head>
        <title>byfrost</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
        <body>
            <nav>
                <a class="layoutnav" href="/">Home</a>
                <%if logged_in?%>
                <a class="layoutnav" href='/users/<%=current_user.slug%>'>Profile</a>
                <a class="layoutnav" href='/vendors'>Vendor Database</a>
                <%end%>
            </nav>
            <br>

                <%=yield%>
            
        </body>
</html>