<!DOCTYPE html> 
<html>
    <head>
    
    </head>
    <body style="background: Pink">
    <h2><a href="/">Home</a></h2>
    <%if logged_in?%>
    <h2>Profile</h2>
    <%end%>

    <%=yield%>
    
    </body>
</html>