<body id="mm_body">
            <img src="/images/new logo.jpg" alt="Table Top" id="logo">
    
        <br>
        <div id="mmnav">
            <%if !logged_in?%>
                <a class="mmnav" href="/signup">Sign up</a>
                <a class="mmnav" href="/login">Log in</a>
            <%end%>
        <div>
</body>