<h2 style="font-family:calibri; text-align:center;">welcome to</h2>
<h1 style="font-family:calibri; font-size:500%; text-align:center;">byfrost</h1>

<h3 style="font-family:calibri; text-align:center;">Sign up</h3>
<br>
<h3 style="font-family:calibri; text-align:center;">Log in</h3>